/* assets/css/styles.css */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --purple: #820AD1;
    --light-purple: #f3e5f5;
    --dark-text: #111111;
    --gray-text: #666666;
    --background: #F0F1F5;
    --white: #FFFFFF;
    --green: #00A34D;
    --red: #E83D5A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background); /* Fundo cinza claro como padrão */
    color: var(--dark-text);
}

a {
    text-decoration: none;
    color: inherit;
}